/* Define fonts used on webpage */

@font-face
{
	font-family: 'Catamaran';
	src: local('Catamaran'), url('fonts/Catamaran/Catamaran-Regular.ttf');
}

@font-face
{
	font-family: 'Pacifico';
	src: local('Pacifico'), url('fonts/Pacifico/Pacifico-Regular.ttf');
}

button
{
	background-color: rgba(0,0,0,0);
	border: 3px solid var(--button-color, slategray);
	border-radius: 4px;
	font-size: 20px;
	font-family: 'Catamaran';
	color: var(--button-color, slategray);
	transition: background-color 0.25s, border-color 0.25s;
}

button:hover
{
	border-color: black;
}

button:active
{
	background-color: lightgray;
}
